<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>oneallsociallogin</name>
	<displayName><![CDATA[OneAll Social Login]]></displayName>
	<version><![CDATA[4.7.1]]></version>
	<description><![CDATA[Professionally developed and free module that allows your users to register and login to PrestaShop with their Social Network accounts (Twitter, Facebook, LinkedIn, Google ...)]]></description>
	<author><![CDATA[OneAll LLC]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Social Login?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>