<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>oneallsociallogin</name>
	<displayName>OneAll Social Login</displayName>
	<version>1.7</version>
	<description><![CDATA[Allows your users to register and login to your PrestaShop with their existing social network account (Twitter, Facebook, LinkedIn, Google ...)]]></description>
	<author>OneAll</author>
	<tab>administration</tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>